body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.name-highlight{
    color: #C80000;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 55%;
    margin-right: 50px;  
} 
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 200px; 
}
.link-button{
    text-decoration: none;
    background-color: rgb(172, 13, 13);
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    font-weight: 70;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}